body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("under-the-water-2.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, .dancerTwoButton, .dancerThreeButton, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid orange;
  border-radius:10px;
  position:absolute;
}

.secondDancer {
  /*border:15px solid red;*/
  border-radius:20px;
  position:absolute;
  
}

.thirdDancer{
  border: 20px solid purple;
  border-radius:30px;
  position:absolute;
}